<footer>
  Contact me at
  |
  Twitter: <a href="https://www.twitter.com/eduardohgto" target="_blank">@eduardohgto</a>
  |
  GitHub: <a href="https://www.github.com/eduardoghdez" target="_blank">@eduardoghdez</a>
  |
  Linkedin: <a href="https://www.linkedin.com/in/eduardoghdez" target="_blank">@eduardoghdez</a>
</footer>
